
.fileUpload
{
    color: ghostwhite;
    width: 50%;
}

.fileUpload:hover{}

//.row {
//    display: flex;
//}

.jumbotron {
    background-color: lightskyblue;
    color: #fff;
    padding: 50px 10px;
    text-align: center;
    width: 100%;
    margin: 0px;
    display: block;
    font-family: Montserrat, sans-serif;
}

#big-logo {
     width: 220px; 
     height: 220px;
}

.div-move-page {
    margin-top: 80px;
}

.div-move-page ul {
    display: flex;
    flex-direction: row;
    float: inherit;
    text-align: center;
}

.div-move-page li {
    padding: 10px 10px;
    border: solid 1px darkblue;
    margin: 2px;

}

.div-move-page li:hover {
    background-color: darkblue;
    color: white;
}
.div-move-page ul .active {
    background-color: darkblue;

    color: white;
}

textarea{
    margin-top: 5px;
    color: gray;
}

.div-signIn {
    font-weight: bolder;
    font-size: large;
    background-color: #303030;
    color: ghostwhite;
    width: 100%;
    //border: 2px solid black;
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
}

.div-signIn form {
    margin: 10px;
    width: 100%;
}

.div-field{
    display:flex;
    flex-direction: row
}

.div-signIn input{
    width: 100%;
    color: black;
    padding: 5px 0px 2px 5px;
    font-size: medium;
}


.div-signIn span {
    font-weight: bolder;
    font-size: large;
    color: ghostwhite;
    margin: 0px
}

.div-user-box {
    background-color: dodgerblue;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: left;
    //border: 2px solid black;
}

.div-blue-box {
    background-color: cornflowerblue;
    border-radius: 10px;
    //border: 2px solid black;
    padding-top: 20px;
}

.div-data-box {
    background-color: dodgerblue;
    padding: 5px 20px;
    //border: 2px solid black;
    margin-top: 20px

}

ul {

    list-style-type: none;
    padding: 0px 5px;
}

span {
    font-weight: bolder;
    color: black;
}

.item span {
    font-style: normal;
}

.btn {
    background-color: darkblue;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid darkblue;
    color: darkblue;
}

.btn:enabled{
    color: white;
}

.navbar {

    background-color: lightskyblue;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar-brand {
    color: #fff !important;
    font-size: large;
    text-decoration: none;
}
.navbar li a {
    color: #fff !important;
    text-decoration: none;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: lightskyblue !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-flex;    
}

#adminPhoto {
    border: solid 10px goldenrod;
}

#clientPhoto {
    border: solid 10px black;    
}

.cart-photo {
    width: 60px;
    height: 60px;
}

#cart-list tr td {
    vertical-align: middle;
}

//#cart-list .quantity {
//    width: 61px;
//}

#admin-control > button {
    width: 100%;
}

#userBox button {
    margin: 3px 0px;
}

#userBox input {
    margin: 3px 0px;
}

footer {
    text-align: center;
    font-size: smaller;
    background-color: #303030;
    color: ghostwhite;
    //border: 2px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 5px;
}

footer a {
    color: ghostwhite;
}

#schedule-service-table tr th {
    text-align: center;
}

.text-center {
    text-align: center;
}

.schedule-service-form input[type=text]{
    width: 100%;
    border: none;
    text-align: center;
}

.schedule-service-form .service-name {
    
}

.white, .white a {
  color: #fff;
}

.top-margin-50 {
    margin-top: 50px;
}

#schedule-icon {
    font-size: 60px;
}

.active {
    color: lightblue;
}